<div class='.tempo' tabIndex='0' data-behavior='window.tempo'>
  <div data-preserve-attribute='style'></div> 
  <span class='.title'>tempo</span>
  <span class='.label'/>
</div>

<div class='.buttons' tabIndex='0' data-behavior='window.projectButtons'>

</div>

<div class='.vu' data-behavior='window.vu'>
  <meter min='-20' class='.left' high='0' value='-20' max='6' />
  <meter min='-20' class='.right' high='0' value='-20' max='6' />
</div>

<div class='.connect'>
  <a href='#' data-behavior='window.connect' />
</div>