<svg class='WaveView' viewBox='0 0 500 400' preserveAspectRatio='none'>
  <path class='.wave' style='fill: #AAA' d='M0,250 L400,250' data-preserve-attribute='d transform' />
  <rect class='.selection' x='0' y='0' width='500' height='400' 
    style='fill: rgba(142, 255, 126, 0.38)' 
    data-preserve-attribute='x y width height' 
  />
  <path class='.baseline' d='M0,200 L500,200' style='stroke-width:2; stroke:#AAA' />
</svg>

<input class='.start -noRefresh' type='range' min='0' max='1' step='0.00125' data-preserve-attribute='value' />
<input class='.end -noRefresh' type='range' min='0' max='1' step='0.00125' data-preserve-attribute='value' />