<? require './deck.html' as deck ?>
<? require './editor.html' as editor ?>
<? require './main_controls.html' as mainControls ?>

<!DOCTYPE html>
<html>
<head>
  <title>Loop Drop</title>
  <link rel='stylesheet' href='bundle.css' />
  <link rel='stylesheet' href='resource.css' />
  <link rel='stylesheet' href='extra.css' />
</head>
<body data-behavior='engine project window.qwertyKeys'>
  <div class='Holder'>
    <div class='Deck -left' data-id='left' t:view='deck' data-behavior='deck.selected' />
    <div class='.main'>
      <div class='MainControls' t:view='mainControls' />
      <div class='Editor' t:view='editor' />
    </div>
    <div class='Deck -right' data-id='right' t:view='deck' data-behavior='deck.selected' />
  </div>
  <script src='bundle.js' />
</body>
</html>